<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Teste</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
</head>
<body>
    {% if user %} <!--Para exscutar uma logica usamos as cahves e a porcentagem-->
    <h1>bem vindo, {{user}}</h1> <!--Para exibir uma variavel usamos apenas as chaves-->
    {% else %}
    <h1>Bem vindo anonimo</h1>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename ='js/bootstrap.min.js')}}"></script>
</body>
</html>